<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystallia{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'crystal_type_list' %}">All crystal types</a>
        <a href="{% url 'crystal_type_create' %}">Add a crystal type</a>
        <a href="{% url 'crystal_list' %}">All crystals</a>
        <a href="{% url 'crystal_create' %}">Add a crystal</a>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>